* {
  box-sizing: border-box;
}


input[type="text"], button {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.container p {
  font-size: 15px;
  margin-bottom: 25px;
  color: #666;
}

input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px 15px;
  background-color: #121225;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #232355;
}

#error-message,
#otp-error {
  color: red;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  pointer-events: auto;
}

.toast.success {
  background-color: #28a745;
}

.toast.error {
  background-color: #dc3545;
}
